
@mixin button {
    display: inline-block;
    background-color: $bg-button;
    color: $white;
    padding: 18px 34px;
    border-radius: 50px;
    font: 400 0.813rem $montserat;
    text-transform: uppercase;
    &:hover {
        color: $white;
        background-color: darken($bg-button, 10%);
    }
}
