$montserat: 'Montserrat', sans-serif;
$domine: 'Domine', serif;
$lato: 'Lato', sans-serif;

$light-black: #262829;
$light-grey: #727779;
$nav-color: #4E4E4E;
$yellow: #FFAC55;
$white: #FFF;
$blue: #03B6E7;
$bg-button: #16D428;
$dark-blue: #028eb5;
$light-blue: #35c5ec;
$light-text: #898e8f;
$steps-bg: #e7eff1;
$light-green: #16d428;
$dark-yellow: #f6a149;
$comment: #ddf8ff;