$montserat: 'Montserrat', sans-serif;
$domine: 'Domine', serif;
$lato: 'Lato', sans-serif;

$light-black: #262829;
$light-grey: #727779;
$nav-color: #4E4E4E;
$yellow: #FFAC55;
$white: #FFF;
$blue: #03B6E7;
$bg-button: #16D428;
$dark-blue: #028eb5;
